header,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.container {
    padding-left: 240px;
    padding-right: 240px;
}

@font-face {
    font-family: "Roboto bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboto medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

header {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    background-color: white;
    width: 100%;
}

header ul li {
    padding-left: 20px;
}

header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    position: fixed;
    left: 70%;
    top: 2%;
    list-style-type: none;
    display: flex;
}

header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    font-family: "roboto medium";
    display: flex;
    font-family: "Roboto Regular";
}

header ul li a:hover {
    color: #919191;
    border-bottom: 1px solid #000000;
}

header img {
    width: 130px;
    border-radius: 18px;
}

.schools .container .row {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;

}

.schools .container .row .col {
    margin-top: 30px;
    border: 2px solid #000000;
    width: 25%;
    text-align: center;
    padding: 17px;
    border-radius: 13px;
    box-shadow: 1px 1px 17px 0px rgba(118, 17, 250, 0.75);
    -webkit-box-shadow: 1px 1px 23px 0px rgba(118, 17, 250, 0.75);
    -moz-box-shadow: 1px 1px 23px 0px rgba(118, 17, 250, 0.75);
}

.schools .row .col:hover {
    background-color: #e9e8e8;
}

.schools .container .row .col h3 {
    font-size: 22px;
    color: #000000;
    display: inline;
    padding-left: 40px;
    font-family: "roboto medium";
}

.schools .container .row .col h4 {
    font-size: 19px;
    color: #7d7f84;
    margin-top: 35px;
    font-family: "roboto medium";
}

.schools .container .row .col h5 {
    font-size: 17px;
    color: #000000;
    font-family: "roboto medium";
}

.schools .container .row .col h6 {
    font-size: 20px;
    display: inline;
    border: 1px solid #000000;
    padding: 5px 10px;
    background-color: #b9beca;
    font-family: "roboto medium";
}

.schools .container .row .col img {
    width: 50px;
    position: relative;
    top: 5%;
}

footer {
    background-color: #9b59ff;
    margin-top: 30px;
}

footer .row {
    display: flex;
    justify-content: space-between;
    padding: 30px 240px;
}

footer h4 {
    font-size: 20px;
    font-family: "roboto medium";
}

footer p {
    font-size: 17px;
    font-family: "Roboto Regular";
}

footer i {
    font-size: 20px;
    padding: 5px;
    color: #000000;
}
footer a{
    text-decoration: none;
}
footer input {
    padding: 10px;
    border-radius: 7px;
    background-color: #9b59ff;
    border-color: #000000;
}

footer input::placeholder {
    color: #000000;
}

footer input:hover {
    background-color: #ffffff;
    border-color: #f60000;
}

.subscribe {
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
}

.subscribe:hover {
    background-color: #ffffff;
    color: #000000;
}

.quickLinks {
    padding-bottom: 10px;
    display: block;
    color: #000000;
}


@media only screen and (max-width:768px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    header {
        display: block;
        position: relative;
        padding: 0;
    }

    header ul {
        display: block;
        padding: 0;
        position: relative;
        left: 0;
        right: 0;
    }
    .schools .container .row {
        display: block;
    }
    .schools .container .row .col {
        width: 90%;
    }
    footer .row {
        padding: 30px 15px;
        display: block;
    }
}